button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  transition: 0.3s;
  width: max-content;
  height: 3rem;
  text-align: center;
}

.title{
font-size: clamp(20px, 3vw, 50px);
text-transform: uppercase;
}



/* Shared container styles */
.home-main-button,
.home-bottom-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}


.home-main-button button {
  background: var(--secondary);
  margin-top: 40px;
width: 7rem;
}

.home-bottom-button button {
  background: var(--primary); font-size: 12px;
}


button:hover {
  background: var(--ternary);
}
.home-footer p{
  text-align: center;
  font-size: 10px;
}
@media (max-width: 600px) {
  .home-bottom-button{
  margin: 5px 0;
  }
  .home-bottom-button button {
    font-size: 7.5px;
    
  }
}